<mat-card-title *ngIf="event" style="margin-top: 5px;">
    <span>Pedidos de acesso ao evento {{event.name}}</span>
</mat-card-title>
<ng-container *ngIf="(solicitations$ | async) as solicitations"; else no-solicitations-yet>

    <div class="solicitations">
        <mat-card *ngFor="let solicitation of solicitations" class="inline-card">
            <span>{{solicitation._userName}}</span>
            <mat-action-row>
                <button (click)="conceder(solicitation)" mat-raised-button color="primary">Conceder</button>
                <button (click)="apagar(solicitation)" mat-raised-button color="warn">Apagar</button>
            </mat-action-row>
        </mat-card>
    </div>

</ng-container>

<ng-template #no_solicitations_yet>
    Nenhuma solicitação por enquanto
</ng-template>