<mat-expansion-panel *ngIf="event" [hideToggle]="true" [expanded]="true">

    <mat-card-title style="margin-top: 5px;">
        <span>Pedidos de acesso ao evento {{event.name}}</span>
    </mat-card-title>

    <div class="solicitations">
        <mat-card *ngFor="let solicitation of solicitations$ | async" class="inline-card">
            <span>{{solicitation._userName}}</span>
            <button (click)="conceder(solicitation)" mat-raised-button color="primary">Conceder</button>
            <button (click)="apagar(solicitation)" mat-raised-button color="warn">Apagar</button>
        </mat-card>
    </div>

</mat-expansion-panel>