<mat-expansion-panel *ngIf="survey" [hideToggle]="true" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-card-title>Responder Enquete {{survey.name}}</mat-card-title>
    </mat-expansion-panel-header>

    <p>Marque {{survey.maxAnswers}} resposta(s)</p>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let answer of answers">
            <mat-checkbox
                (change)="$event ? answer.value = !answer.value : null; checkAnswers()"
                [checked]="answer.value">{{answer.question}}
            </mat-checkbox>
        </div>
        <mat-action-row>
            <button type="submit" [disabled]="formInvalid" mat-raised-button color="primary">Gravar</button>
            <button type="button" mat-raised-button color="secondary" appGoBack>Voltar</button>
        </mat-action-row>
    </form>

</mat-expansion-panel>