mat-expansion-panel {
    margin-bottom: 10px;
}

.participations,
.resources {
	display: flex;
	flex-wrap: wrap;
}

.inline-card {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.participation {
    display: block;
}