<mat-expansion-panel [hideToggle]="true" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-card-title>Eventos Ativos</mat-card-title>
  </mat-expansion-panel-header>
  <div class="events">
    <mat-card class="events-item" *ngFor="let event of dataService.findEvents() | async">
      <mat-card-title>
        <div class="two-items">
          <span>{{event.name}}</span>
          <button [routerLink]="['/event-participation', event.id]" mat-icon-button title="Participar"
            color="primary">
            <mat-icon>person_add</mat-icon>
          </button>
        </div>
      </mat-card-title>
      <mat-card-content>
        {{event.description}}
      </mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>