<ng-container *ngIf="event">

  <div *ngIf="event?.id" class="event-solicitations">
    <app-event-solicitation-list [event]="event"></app-event-solicitation-list>
  </div>

  <mat-card-title style="margin-top: 5px;">
    <div class="two-items">
      <span>Evento {{event.name}}</span>
      <mat-checkbox [(ngModel)]="participarei">Irei participar</mat-checkbox>
    </div>
  </mat-card-title>

  <mat-expansion-panel [hideToggle]="true" [expanded]="true">
    <mat-expansion-panel-header><mat-card-title>Participações Agrupadas</mat-card-title></mat-expansion-panel-header>
    <div class="participations">
      <mat-card [class.meta-reached]="arrecadation.total == arrecadation?.resource?.meta" *ngFor="let arrecadation of arrecadations" class="inline-card">
        {{arrecadation.resource.name}}: {{arrecadation.total}}/{{arrecadation.resource.meta}}
      </mat-card>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="resource-group" *ngFor="let group of participationsGrouped" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-card-title>{{group.name}}</mat-card-title>
    </mat-expansion-panel-header>
    <div class="resources">
      <mat-card class="inline-card" *ngFor="let resource of group.participations">
        <mat-card-content>
          <span>{{resource.name}} Meta: {{resource.meta}} {{resource.unit}}</span>
          <mat-form-field class="participation" *ngIf="participarei">
            <input type="number" name="amount" [(ngModel)]="resource.amount" matInput>
            <mat-hint>Quantidade que contribuirei</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>

  <mat-action-row>
    <button (click)="onClickGravar()" mat-raised-button color="primary">Gravar</button>
  </mat-action-row>

  <mat-expansion-panel>
    <mat-expansion-panel-header><mat-card-title>Todas Participações</mat-card-title></mat-expansion-panel-header>
    <div class="participations">
      <mat-card *ngFor="let participation of participations" class="inline-card">
        {{participation._personName}} {{participation._resourceName}}: {{participation.amount}}
      </mat-card>
    </div>
  </mat-expansion-panel>

</ng-container>