<mat-expansion-panel *ngIf="event" [hideToggle]="true" [expanded]="true">
  <mat-toolbar>
    <mat-toolbar-row class="two-items">
      <div>
        <button mat-mini-fab color="secondary" appGoBack>
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <button mat-mini-fab color="primary" [routerLink]="['/survey-edit', event.id]" title="Adicionar">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <span>Enquetes do evento {{event.name}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="inline-card-container">
    <mat-card class="inline-card" *ngFor="let survey of surveys$ | async">
      <mat-card-title>
        <span>{{survey.name}}</span>
      </mat-card-title>
      <p>Responder até {{survey.expiration | date : 'dd/MM/yyyy HH:mm'}}</p>
      <mat-card-actions>
        <button (click)="onClickAnswer(survey)" mat-icon-button title="Responder" color="primary">
          <mat-icon>done</mat-icon>
        </button>
        <button (click)="onClickResults(survey)" mat-icon-button title="Resultados" color="primary">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button (click)="onClickEdit(survey)" mat-icon-button title="Editar" color="primary">
          <mat-icon>create</mat-icon>
        </button>
        <button (dblclick)="onSurveyDblclick(survey)" mat-icon-button title="Duplo click para Excluir"
          color="warn">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</mat-expansion-panel>