<mat-expansion-panel style="margin-top: 5px;" [hideToggle]="true" [expanded]="true">
</mat-expansion-panel>

<mat-expansion-panel-header>
    <mat-card-title>Eventos Ativos</mat-card-title>
  </mat-expansion-panel-header>
<mat-card-title>Enquete</mat-card-title>

<mat-card>
    <mat-card-content>
        <div class="form-group">
            <h4>Dados gerais</h4>
            <form #formEvent="ngForm" (ngSubmit)="onSubmitEvent()">
                <mat-form-field>
                    <input #name="ngModel" matInput required type="text" name="name" [(ngModel)]="event.name"
                        placeholder="Nome">
                    <mat-error *ngIf="name.hasError('required')">Obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field style="min-width: 40%;">
                    <input #description="ngModel" name="description" #observacao="ngModel"
                        [(ngModel)]="event.description" matInput placeholder="Descrição">
                    <mat-error *ngIf="description.hasError('required')">Obrigatório</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <button type="submit" [disabled]="formEvent.invalid" mat-raised-button
                        color="primary">Gravar</button>
                </mat-action-row>
            </form>
        </div>
        <mat-divider></mat-divider>
        <div class="form-group" *ngIf="event.id">
            <h4>Grupos</h4>

            <form #formGroup="ngForm" (ngSubmit)="onSubmitGroup()">
                <mat-form-field>
                    <input #name="ngModel" matInput required type="text" name="name"
                        [(ngModel)]="resourceGroup.name" placeholder="Nome">
                    <mat-error *ngIf="name.hasError('required')">Obrigatório</mat-error>
                </mat-form-field>
                <mat-action-row>
                    <button type="submit" [disabled]="formGroup.invalid" mat-raised-button
                        color="primary">Enviar</button>
                </mat-action-row>
            </form>
        </div>
        <mat-divider></mat-divider>
        <div class="form-group" *ngIf="resourcesGroupedVO?.length > 0">
            <h4>Itens do Grupo</h4>
            <form #formResource="ngForm" (ngSubmit)="onSubmitResource(formResource)">
                <mat-form-field>
                    <mat-select [compareWith]='IdUtil.compareFn' name="group" [(ngModel)]="eventResourceGroup"
                        placeholder="Grupo" required>
                        <mat-option *ngFor="let o of resourcesGroupedVO" [value]="o">{{o.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input #name="ngModel" matInput required type="text" name="name"
                        [(ngModel)]="resource.name" placeholder="Nome">
                    <mat-error *ngIf="name.hasError('required')">Obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input #meta="ngModel" matInput required type="number" name="meta"
                        [(ngModel)]="resource.meta" placeholder="Meta de Arrecadação">
                    <mat-error *ngIf="meta.hasError('required')">Obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input #unit="ngModel" matInput required type="text" name="unit"
                        [(ngModel)]="resource.unit" placeholder="Unidade">
                    <mat-error *ngIf="unit.hasError('required')">Obrigatório</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <button type="submit" [disabled]="formResource.invalid" mat-raised-button
                        color="primary">Enviar</button>
                </mat-action-row>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <h4>Resumo</h4>

        <mat-card class="resource-group" *ngFor="let group of resourcesGroupedVO">
            <h4 (click)="resourceGroup = group" class="clickable"
                style="display: inline-block">{{group.name}}</h4>
            <button (dblclick)="onGroupDblclick(group.id)" mat-icon-button title="Excluir Grupo" color="primary">
                <mat-icon>delete_sweep</mat-icon>
            </button>
            <div class="resources">
                <mat-card class="inline-card" *ngFor="let resource of group.resources">
                    <mat-card-content class="form-group">
                        <span>{{resource.name}} Meta: {{resource.meta}} {{resource.unit}}</span>
                        <button (dblclick)="onResourceDblclick(group.id, resource)" mat-icon-button
                            title="Excluir" color="primary">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card>
    </mat-card-content>
</mat-card>

