<div [class.container]="builtIn">
    <mat-expansion-panel [hideToggle]="false" [expanded]="true">
        <mat-toolbar *ngIf="!builtIn">
            <mat-toolbar-row class="two-items">
                <button mat-mini-fab color="secondary" appGoBack>
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                <span>Pedidos de acesso</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-expansion-panel-header *ngIf="builtIn">
            <mat-card-title>Pedidos de acesso</mat-card-title>
        </mat-expansion-panel-header>

        <ng-container *ngIf="(solicitations$ | async) as solicitations" ; else no-solicitations-yet>
            <div class="solicitations">
                <mat-card *ngFor="let solicitation of solicitations" class="inline-card">
                    <span>{{solicitation._userName}}</span>
                    <mat-action-row>
                        <button (click)="conceder(solicitation)" mat-raised-button
                            color="primary">Conceder</button>
                        <button (click)="apagar(solicitation)" mat-raised-button color="warn">Apagar</button>
                    </mat-action-row>
                </mat-card>
            </div>
        </ng-container>

        <ng-template #no_solicitations_yet>
            Nenhuma solicitação por enquanto
        </ng-template>
    </mat-expansion-panel>
</div>
