<mat-expansion-panel [hideToggle]="true" [expanded]="true">

    <mat-expansion-panel-header>
      <mat-card-title>Participar Evento</mat-card-title>
    </mat-expansion-panel-header>

    <div class="recursos">

      <mat-card class="recursos-item" *ngFor="let recurso of evento.recurso">
        <mat-card-title>{{recurso.nome}}</mat-card-title>
        <mat-card-content>20/30 litros</mat-card-content>
        <mat-card-actions>
          <mat-checkbox>Contribuir</mat-checkbox>
        </mat-card-actions>
      </mat-card>

    </div>

    <form #form="ngForm">
        <div class="recursos">
            <mat-card class="recursos-item" *ngFor="let recursoParticipante of recursosParticipante">
              <mat-card-title>{{recursoParticipante.recurso.nome}}</mat-card-title>
              <mat-card-content>
                <input type="number">
              </mat-card-content>
            </mat-card>
          </div>

        <mat-action-row>
          <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Login</button>
        </mat-action-row>
      </form>


  </mat-expansion-panel>