/* form {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
} */
/*
div.form-group {
    border-bottom: 1px solid lightgray;
}

div.form-group:last-child {
    border-bottom: none;
} */

mat-card.resource-group {
    padding: 10px;
    margin-bottom: 5px;
}

h4 {
    margin: 10px 0 5px 0;
}

mat-form-field {
    margin-right: 5px;
}

:host > mat-card {
    margin-bottom: 5px;
}