/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.warn-text {
    color: orangered;
}


.two-items {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.inline-card {
    padding: 5px !important;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block !important;
}

.clickable {
    cursor: pointer;
}