/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.warn-text {
    color: orangered;
}

.two-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.inline-card {
    padding: 10px !important;
    margin: 7px !important;
    display: inline-block !important;
}

.inline-card-container {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.clickable {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

mat-toolbar button + button {
    margin-left: 5px !important;
}
